{% extends 'administracion/base.html' %}
{% load guardian_tags %}
{% block title %}{{ proyecto.nombre }}{% endblock %}




{% block contentbase %}
    {% get_obj_perms user for proyecto as "proyecto_perms" %}
    <h3>{{ proyecto.nombre }}</h3>
    <ul class="list-inline">
        {% if 'change_proyecto' in proyecto_perms %}<li><a href="" class="fa fa-pencil"> Editar</a></li>{% endif %}
        {% if 'delete_proyecto' in proyecto_perms %}<li><a href="" class="fa fa-eraser"> Cancelar</a></li>{% endif %}

        {% if 'aprobar_userstory' in proyecto_perms %}
            {% if proyecto.estado == 'TE' %}
                 <a href=""><i class="fa fa-check-square fa-fw"></i> ¿Aprobar proyecto?</a>
            {% endif %}
        {% endif %}

    </ul>

    <div class="row">
        <div class="col-lg-4">
            <div class="well">
                <p><strong>Estado:</strong> {{ proyecto.get_estado_display }}</p>

                <p><strong>Inicio:</strong> {{ proyecto.fecha_inicio|date }}</p>

                <p><strong>Fin:</strong> {{ proyecto.fecha_fin|date }}</p>


            </div>
        </div>
        <div class="col-lg-4">

        </div>

    </div>

    <div class="row">
        <div class="col-lg-4">
            <h4 class="list-group-item-heading">

            </h4>
            <div class="list-group">
                {% for m in team %}
                    <a href="" class="list-group-item">
                        {{ m.usuario.get_full_name }}
                        {% for r in m.roles.all %}
                            <span class="badge" data-toggle="tooltip" data-placement="left"
                              title="Rol">{{ r }}</span>
                        {% endfor %}
                    </a>
                {% endfor %}
            </div>
        </div>


{% endblock %}