{% extends 'administracion/base.html' %}
{% load guardian_tags %}
{% block title %}{{ proyecto.nombre }}{% endblock %}




{% block contentbase %}
    {% get_obj_perms user for proyecto as "proyecto_perms" %}
    <h3>{{ proyecto.nombre }}</h3>
    <ul class="list-inline">
        {% if 'change_proyecto' in proyecto_perms %}<li><a href="{% url 'project_update' proyecto.id %}" class="fa fa-pencil"> Modificar</a></li>{% endif %}




    </ul>

    <div class="row">
        <div class="col-lg-4">
            <div class="well">
                <p><strong>Estado:</strong> {{ proyecto.get_estado_display }}</p>

                <p><strong>Fecha de Inicio:</strong> {{ proyecto.fecha_inicio|date }}</p>

                <p><strong>Fecha de Finalizacion:</strong> {{ proyecto.fecha_fin|date }}</p>


            </div>
        </div>
        <div class="col-lg-4">

        </div>

    </div>



<div class="row">
        <div class="col-lg-4">
            <h4 class="list-group-item-heading">
                <a href="{% if perms.proyecto.change_proyecto %}
                {% url 'project_update' proyecto.id %}#equipo
                {% else %}#{% endif %}">Equipo</a>
            </h4>
            <div class="list-group">
                {% for m in team %}
                    <a href="{% url 'user_detail' m.usuario_id %}" class="list-group-item">
                        {{ m.usuario }}
                        {% for r in m.roles.all %}
                            <span class="badge" data-toggle="tooltip" data-placement="left"
                              title="Rol">{{ r }}</span>
                        {% endfor %}
                    </a>
                {% endfor %}
            </div>
        </div>


        </div>


{% endblock %}