
{% block contentbase %}
{% block title %}Cambiar estado del proyecto?{% endblock %}

{% block breadcrumbs %}

    <li><a href="{% url 'project_list' %}">Proyectos</a></li>
    <li><a href="{% url 'project_detail' proyecto.id %}">{{ proyecto.nombre }}</a></li>
    <li class="active">Cambiar Estado</li>
{% endblock %}

{% block header %}{{ proyecto }} {% endblock %}

<form method="post" role="form">
    {% csrf_token %}
    <div class="form-group">
        <p>Seguro de que desea <strong>aprobar</strong> el Proyecto <strong>{{ proyecto }}</strong>?</p>
    </div>

    <input type="submit" name="aprobar" value="aprobar" class="btn btn-primary"/>
    <input type="submit" name="rechazar" value="rechazar" class="btn btn-danger"/>
</form>
{% endblock %}