{% extends "administracion/base.html" %}
{% load bootstrap3 %}
{% load guardian_tags %}
{% block contentbase %}



    {% if current_action == "Crear" %}
        <div class="row">
           <ol class="breadcrumb">
              <li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
              <li><a href="{%url "project_detail" view.proyecto.id %}">{{ view.proyecto }}</a></li>
               <li><a href="{% url 'product_backlog' view.proyecto.id %}">User Stories </a></li>
               <li class="active">Crear User Stories</li>
           </ol>
        </div><!--/.row-->


    {% else %}
        <li><a href="{% url 'project_detail' userstory.proyecto_id %}">{{ userstory.proyecto }}</a></li>
        <li><a href="{% url 'product_backlog' userstory.proyecto_id %}">User Stories</a></li>
        <li><a href="{% url 'userstory_detail' userstory.id %}">{{ userstory }}</a></li>
    {% endif %}
    <li class="active">{{ current_action }}</li>

        <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
                    <div class="col-md-12">
					    <div class="page-header"><h1>User Storys</h1></div>
                    </div>
					<div class="panel-body">
						<div class="col-md-12">


                            <form action="" method="post">
                                {% csrf_token %}
                                    <div class="row">
                                    <div class="col-lg-2">{% bootstrap_field form.nombre_corto  %}</div>
                                    <div class="col-lg-3">{% bootstrap_field form.nombre_largo  %}</div>
                                    <div class="col-lg-8">{% bootstrap_field form.descripcion  %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-body">

                                            <div class="col-lg-3">{% bootstrap_field form.valor_negocio layout='horizontal' %}</div>
                                            <div class="col-lg-3">{% bootstrap_field form.valor_tecnico layout='horizontal' %}</div>
                                            <div class="col-lg-3">{% bootstrap_field form.tiempo_estimado layout='horizontal' %}</div>
                                        </div>
                                        </div>
                                <div class="row">
                                {% buttons submit='Guardar' reset="Reset" %}
                                    <a href="javascript:history.back()">
                                        <button type="button" class="btn btn-danger">Cancelar</button>
                                    </a>
                                {% endbuttons %}
                                </div>
                            </form>

					    </div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->






{% endblock %}


