{% extends 'administracion/base.html' %}


{% block contentbase %}

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="{% url 'project_list' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>
    </div>
    <div class="page-header"><h1>{{ userstory.nombre_largo | title}}</h1></div>
<form action="" method="post" role="form">
    {% csrf_token %}
    <div class="form-group">
        <p>Seguro de que desea <strong>aprobar</strong> el User Story <strong>{{ object }}</strong>?</p>
    </div>

    <input type="submit" value="Aprobar" class="btn btn-default"/>
</form>
{% endblock %}