{% extends 'users/base.html' %}

{% block title %} Modificar Usuario {% endblock %}

{% block breadcrumb %} 
    <p><a href="{% url 'profile' %}">Inicio</a> / 
    <a href="{% url 'user_list' %}">Roles</a> /
    Modificar Usuario</p>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Aceptar">
        <input type="button" onclick=" location.href='{% url 'user_list' %}' " value="Cancelar">
    </form>
{% endblock %}

