{% extends 'administracion/base.html' %}
{% block title %}Ver rol{% endblock %}

{% block contentbase %}

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li><a href="{% url "rol_list" %}"> Lista de Roles</a></li>
				<li class="active">Listado de permisos para {{ roles.name }}</li>
			</ol>
		</div><!--/.row-->

 	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="{% url 'project' %}"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Proyectos</a></li>
            <li><a href="{% url 'user_list' %}"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg> Usuarios</a></li>
            <li class="active"><a href="{% url 'rol_list' %}"><svg class="glyph stroked key "><use xlink:href="#stroked-key"/></svg> Roles</a></li>

        </ul>


	</div><!--/.sidebar-->


    <h3>Permisos para {{ roles.name }} </h3>
    <ul>
    {% for p in roles.permissions.all %}
        <li>{{ p.name }}</li>
    {% endfor %}
    </ul>
    <div class="row">

    </div>
{% endblock %}