{% extends 'administracion/base.html' %}
{% block contentbase %}

		<div class="row">
			<ol class="breadcrumb">
				<li><a href="{% url "index" %}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li><a href="{% url "rol_list" %}">Roles</a></li>
				<li class="active">Delete</li>
			</ol>
		</div><!--/.row-->


{% block header %}{{ group }}{% endblock %}

<form action="" method="post" role="form">

    <div class="form-group">
        <p>Seguro de que desea eliminar el rol <strong>{{ group }}</strong>?</p>
    </div>

    <input type="submit" value="Confirmar" class="btn btn-default"/>
</form>
{% endblock %}